{{define "index"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>kube-applier</title>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 class="text-center">kube-applier</h1>
    {{ if . }}
        <div class="row">
            <div class="col-md-4"></div>
            <div id="force-alert-container" class="col-md-4"></div>
        </div>
    
        {{ if (filter . "pending").Namespaces }}
            {{template "section" (filter . "pending")}}
        {{ end }}
        
        {{ if (filter . "failure").Namespaces }}
            {{template "section" (filter . "failure")}}
        {{ end }}

        {{ if (filter . "warning").Namespaces }}
            {{template "section" (filter . "warning")}}
        {{ end }}


        {{ if (filter . "success").Namespaces }}
            {{template "section" (filter . "success")}}
        {{ end }}

    {{ else }}
        <h3 class="text-center">Waiting for information to be collected...</h3>
        <h4 class="text-center">Refresh for updates and check the status and logs for the kube-applier container to make sure it is running properly.</h4>
    {{ end }}
</body>
</html>
{{ end }}

<!-- Outcome Section -->
{{define "section"}}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel-group">
            <div class='panel panel-default {{if eq $.Outcome "success"}}panel-success{{else if eq $.Outcome "failure"}}panel-danger{{end}}'>
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#{{$.Outcome}}">
                            {{if eq $.Outcome "pending"}}
                                Pending Namespaces: {{ len .Namespaces }} / {{ .Total }}
                            {{else if eq $.Outcome "failure"}}
                                Failed Namespaces: {{ len .Namespaces }} / {{ .Total }}
                            {{else if eq $.Outcome "success"}}
                                Applied Namespaces: {{ len .Namespaces }} / {{ .Total }}
                            {{end}}
                        </a>
                    </h4>
                </div>
                <div id="{{$.Outcome}}" class="panel-group collapse in">
                    {{ range $wb :=  .Namespaces }}
                        {{template "namespace" $wb}}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

<!-- Namespace Info -->
{{define "namespace"}}
<div class="panel">
  <div class="panel-heading">
      <div class="panel-title">
          <a data-toggle="collapse" href="#{{.Waybill.Namespace}}">{{ .Waybill.Namespace }} {{ status .Waybill }}</a>
      </div>
  </div>
  {{if .Waybill.Status.LastRun }}
  <div id="{{.Waybill.Namespace}}" class="panel-collapse collapse">
      <ul class="list-group">
          <li class="list-group-item">
              <div class="row">
                  <div class="col-md-10">
                      <strong>Type: </strong>{{ .Waybill.Status.LastRun.Type }}<br/>
                      
                      {{ if .Waybill.Status.LastRun.Commit }}
                      <strong>Commit: </strong>{{ if commitLink .DiffURLFormat .Waybill.Status.LastRun.Commit }}<a href="{{ commitLink .DiffURLFormat .Waybill.Status.LastRun.Commit }}">{{ .Waybill.Status.LastRun.Commit }}</a>{{ else }}{{ .Waybill.Status.LastRun.Commit }}{{ end }}<br/>
                      {{ end }}
                      
                      <strong>Started: </strong>{{ formattedTime .Waybill.Status.LastRun.Started }} (took {{ latency .Waybill.Status.LastRun.Started .Waybill.Status.LastRun.Finished }})<br/>
                      
                      {{ if .Waybill.Status.LastRun.ErrorMessage}}
                      <strong>Error Message: </strong>{{ .Waybill.Status.LastRun.ErrorMessage }}
                      {{ end }}
                  </div>
                  <div class="col-md-2"><button data-namespace="{{ .Waybill.Namespace }}" class="force-button force-namespace-button btn btn-warning btn-s"><strong>Force apply run</strong></button></div>
              </div>
          </li>
          {{ if .Waybill.Status.LastRun.Command }}
          <li class="list-group-item">
              <pre class="file-output">{{ printf "$ %s\n" .Waybill.Status.LastRun.Command }}{{ .Waybill.Status.LastRun.Output }}</pre>
          </li>
          {{ end }}
          {{ if .Events }}
          <li class="list-group-item">
            <table class="table">
              <thead>
                  <tr>
                  <th scope="col">LAST SEEN</th>
                  <th scope="col">TYPE</th>
                  <th scope="col">REASON</th>
                  <th scope="col">MESSAGE</th>
                 </tr>
              </thead>
              <tbody>
              {{ range $i, $e := .Events }}
                {{ if eq $e.Namespace $.Waybill.Namespace }}
                    <tr>
                    <td>{{ $e.LastTimestamp }}</th>
                    <td>{{ $e.Type }}</td>
                    <td>{{ $e.Reason }}</td>
                    <td>{{ $e.Message }}</td>
                </tr>
                {{ end }}
              {{ end }}
              </tbody>
           </table>
        </li>
        {{ end }}
      </ul>
  </div>
  {{ end }}
</div>
{{ end }}
